.mainContainer {
    display: flex;
    justify-content: space-between;
}

.booksContainer {
    display: flex;
    gap: 15px;
}

.imageContainer {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.image {
    aspect-ratio: 0.65;
    height: 100%;
}