.mainContainer {
    display: flex;
    justify-content: space-evenly;
}

.booksContainer {
    display: flex;
    width: 340px;
    gap: 20px;
}

.imageContainer {
    width: 130px;
    height: 200px;
    object-fit: cover;
}

.image {
    aspect-ratio: 0.65;
    height: 100%;
}